.field-wrap {
    width: 600px;
    height: 600px;
}
.cell-item {
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid black;
}
.food {
    background-color: red;
}
.snake {
    background-color: green;
}